:root {
  --text-color: #8F99A8;
  --base-color: #404854;
  --background-color:#1C2127;
}

.App {
  text-align: center;
}

.multipage {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.navbar {
  height: 100%;
  width: auto;
  background-color: var(--base-color);
  color: var(--text-color);
  padding: 1rem;
  flex-grow: 1;
  position: fixed;
}

.filepage {
  padding: 2rem 7rem;
  color: var(--text-color);
  background-color: var(--background-color);
  flex-grow: 5;
  margin-left: 2rem;
  min-height: 100%;
  height:fit-content;
  
}

.card {
  width: 25%;
  height: 40%;
  padding: 2rem;
  background-color: var(--base-color);
  color: var(--text-color);
  text-align: center;
  transition: box-shadow .3s;
  min-width: fit-content;
  max-width: 12%;
  border-radius: 2%;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 11px var(--text-color);
}

.fileview { 
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;

}

.videopage {
  flex-grow: 0;
}